<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Apple | Home')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" rel="stylesheet">

    <title>iPhone - Apple</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')"></nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1>iPhone</h1>
        <a href="iphone-11">iphone-11</a><br/>
        <a href="iphone-12">iphone-12</a><br/>
        <a href="iphone-12-pro">iphone-12-pro</a><br/>
        <a href="iphone-xr">iphone-xr</a><br/>
        <a href="iphone-se">iphone-se</a><br/>
    </div>
</main>
</body>
</html>